[Unit]
Description=Check lucide git repo for update daily

[Timer]
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target

[Service]
WorkingDirectory=/home/daze/GitHub/jaspr_lucide/tool/
ExecStart=/home/daze/GitHub/jaspr_lucide/tool/cron.sh
