[Unit]
Description=Check lucide git repo for update

[Service]
Type=oneshot
EnvironmentFile=%h/.config/smtp.env
WorkingDirectory=%h/GitHub/jaspr_lucide/tool
ExecStart=%h/GitHub/jaspr_lucide/tool/cron.sh
