[Unit]
Description=Check lucide git repo for update

[Service]
Type=oneshot
WorkingDirectory=/home/daze/GitHub/jaspr_lucide/tool
Environment="HOME=/home/daze" "PATH=/usr/bin:/bin:/usr/local/bin"
ExecStart=/home/daze/GitHub/jaspr_lucide/tool/cron.sh
